/* Universal Selector */
* {
  margin:0;
  padding:0;  
}

/* Element Selectors */
body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 1.3;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4rem;
    color: #13293d;
    background-color: lightblue;
  }
  
  header, footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    height: 10%;
    color: #fff;
    background-color: #13293d
   }
  
  h1 {
    font-size: 200%;
  }

  h2 {
    font-size: 150%;
    padding: 1rem; 
  }

  nav ul {
    display: flex;
    justify-content: space-around;
    min-width: 450px; 
    font-size: 150%;    
  }
 
  nav a {
    color:#fff;
    font-weight: bold;
    text-decoration: none; 
  }
  
  main {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url("../images/blue-web.jpg");
    padding: 1rem;
  
  }

  figcaption {
    font-weight: bold;
    font-size: 180%;
    font-style: oblique;
    color: #13293d;
    
    padding: 80px 20px 10px 50px;
  }

  section h2 {
    font-weight: bold;
    font: 100%;
    min-width: 300px;
  }

  p {
    font-size: 100%;
    padding: 2rem;
  }

  /* ID Selectors
   

  /* Class Selectors */
  
  .profile-pic {
    border-radius: 50%;
    height: 200px;
    padding: 20px;
  }

  .my-story {
    width: 100%;
    display:flex; 
    justify-content: space-between;  
    padding-left: 1rem;
  }

  .my-story h2 {
    flex-basis: 30%;
  }

  .my-work {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
  }

  .my-work h2 {
    flex-basis: 30%;
  }

  .work-container {
    width: 100%;
    height: 1200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-block: 20px, 2px, 2px, 2px;
  }

  .work-large {
    display: flex;
    flex-basis: 80%;
    justify-content: center;
    padding:2px;
    background-image: url("../images/pexels-designecologist-1779487.jpg");
    border-radius: 20%;
    height: 450px;
    padding: 20px;
  }

  .work-small-one { 
    flex-basis: 40%;
    padding:2px;
    background-image: url("../images/pexels-fauxels-3183153.jpg");
    border-radius: 10%;
    height: 300px;
    padding: 20px;
  }

   .work-small-two { 
    flex-basis: 40%;
    padding:2px;
    background-image: url("../images/pexels-ketut-subiyanto-4126743.jpg");
    border-radius: 10%;
    height: 300px;
    padding: 20px;
   }

    .work-small-three { 
    flex-basis: 40%;
    padding:2px; 
    background-image: url("../images/pexels-pixabay-265087.jpg");
    border-radius: 10%;
    height: 300px;
    padding: 20px;
  }
    
    .work-small-four { 
    flex-basis: 40%;
    padding:2px;
    background-image: url("../images/web-design.jpg");
    border-radius: 10%;
    height: 300px;
    padding: 20px;
  }
 
  
    

  
   
  